/* Coolors Exported Palette - coolors.co/92374d-8c5261-99495d-ad546b-c1acb1 */

// Colors
$black: rgba(65, 65, 65, 1);
$gray-background: rgba(250, 250, 250, 1);
$gray-text: rgba(193, 195, 197, 1);
$pink: rgba(224, 123, 171, 1);
$pink-highlight: rgba(249, 237, 244, 1);
$magenta: rgba(168, 66, 176, 1);
$magenta-highlight: rgba(242, 235, 246, 1);
$purple: rgba(126, 129, 232, 1);
$purple-highlight: rgba(242, 242, 252, 1);
$red: rgba(230, 57, 80, 1);
$red-highlight: rgba(252, 235, 237, 1);
$red-alt: rgba(236, 85, 105, 1);

// To invert call: invert($color, $weight: 100%)

// Fonts
$font-sans: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
$font-serif: "IBM Plex Serif", serif;
$font-mono: "IBM Plex Mono", "SFMono-Regular", Consolas, "Roboto Mono",
  "Droid Sans Mono", "Liberation Mono", Menlo, Courier, monospace;
$font-sans-con: "IBM Plex Sans Condensed", sans-serif;