.footer {
  text-align: center;
  background: $black;
  color: #ffffff;
  font-size: 0.85em;
}
@media screen and (max-width: 600px) {
  .footer {
    padding: 10px 10px 10px 10px;
  }
}
@media screen and (min-width: 601px) and (max-width: 1200px) {
  .footer {
    padding: 20px;
  }
}
@media screen and (min-width: 1201px) {
  .footer {
    padding: 20px;
  }
}
.header {
  background-color: $red-highlight;
  margin-bottom: 1.45rem;
}
.header-container {
  margin: 0 auto;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}
@media screen and (max-width: 600px) {
  .header-container {
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media screen and (min-width: 601px) and (max-width: 1200px) {
  .header-container {
    padding-right: 80px;
    padding-left: 80px;
  }
}
@media screen and (min-width: 1201px) {
  .header-container {
    padding-right: 120px;
    padding-left: 120px;
  }
}
.header-logo {
  margin: 0;
}
.logo-link {
  color: $red;
  text-decoration: none;
}
.logo-link:hover {
  color: $red-alt;
}
.hide-header {
  display: none;
}
