.canvas {
  line-height: 1.6;
  position: relative;
}
.container {
  margin: 4% 2% 0% 2%;
  min-height: 100vh;
  display: grid;
}
.section-container {
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
  background-color: $gray-background;
}
@media screen and (max-width: 600px) {
  .section-container {
    padding: 10px 10px 10px 10px;
  }
}
@media screen and (min-width: 601px) and (max-width: 1200px) {
  .section-container {
    padding: 20px 80px 20px 80px;
    min-height: 100vh;
  }
}
@media screen and (min-width: 1201px) {
  .section-container {
    padding: 40px 120px 40px 120px;
    min-height: 100vh;
  }
}
.section-backdrop svg {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  height: 50px;
  width: 50px;
  z-index: 1;
}
.section-text-container {
  position: relative;
  z-index: 10;
  background: #ffffff;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.15);
  padding: 40px 80px;
}
.section-left-border {
  border-left: 40px solid #eee;
}
.section-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.section-icon-container {
  display: flex;
  position: absolute;
  left: -60px;
  top: 35px;
  justify-content: center;
}
.section-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 110;
  border-radius: 100%;
  border: 4px solid #282b2e;
  width: 80px;
  height: 80px;
  font-size: 1.7em;
  color: #282b2e;
  background: $purple;
  border-color: $purple;
}

.section-title {
  font-size: 4em;
  line-height: 1;
  margin-bottom: 10px;
}
.section-subtitle {
  font-size: 1.3em;
}
.section-text-two-col {
  display: flex;
  flex-wrap: wrap;
}
.section-text-two-col p {
  margin-bottom: 40px;
}

@media screen and (min-width: 1201px) {
  .section-text-two-col {
    width: calc((100% - 80px) / 2);
  }
  .section-text-two-col > div:nth-child(2n) {
    margin-left: 80px;
  }
}
