*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: $font-mono, monospace, sans-serif;
  font-variant-ligatures: no-common-ligatures;
  padding: 0;
  margin: 0;
  color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 40px 0;
  line-height: 1.3;
}

p {
  margin: 0;
  line-height: 1.6;
}

a {
  color: $red;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: $red;
  background-color: $red-highlight;
}
.button {
  margin-top: 20px;
  border: 1px solid $black;
  display: block;
  padding: 10px 20px;
  border-radius: 3px;
  color: $black;
  font-weight: normal;
  box-shadow: 4px 4px $black;
}
.button:hover {
  text-decoration: none;
  background: $red-alt;
  color: #ffffff;
  border-color: $red;
}
.button:active {
  position: relative;
  top: 2px;
  left: 2px;
  box-shadow: 2px 2px $red-highlight;
}
.section-heading {
}
